.header{
    font-size: 50px;
    color: goldenrod;
    margin: 30px;
}

.add{
    background-color: rgb(132, 197, 132);
    font-size: 15px;
    margin: 20px;
}

.delete{
    background-color: rgb(180, 113, 113);
    font-size: 15px;
    margin: 20px;
}

.edit {
    background-color: rgb(227, 227, 153);
    font-size: 15px;
    margin: 20px;
}

table, th, td {
    border: 1px solid;
    margin: 15px;
    width: 30%;
    text-align: center;
    padding: 10px;
    background-color: rgb(221, 214, 204);
}

th {
    font-size: 20px;
}

